
$navyblue: #001f3f;
$white: #ffffff;



.navbar {
    background-color: $navyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    .nav-menu {
        list-style: none;
        display: flex;

        li {
            margin-left: 20px;

            a {
                text-decoration: none;
                color: $white;
                font-size: 18px;

                &:hover {
                    width: 42px;
                    height: 42px;
                    background-color: beige;
                    color:greenyellow;

                    
                    }

                }
            }
        }
    }

   



@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; 
        right: 0;
        background-color: $navyblue;
        width: 200px;
        border-radius: 4px;

        li {
            margin: 10px 0;
            text-align: center;
            &:hover {
            
                background-color:bisque;
                
                }
        }
    }

    
}

  
